{% extends'template.html.twig' %}

{% block head %}
    <!-- Titre -->
    <title>Tableau de bord | Jean Forteroche</title>
    <!-- Media Queries -->
    <link rel="stylesheet" href="/public/css/styleAdminDashboard.css" />
{% endblock head %}

{% block body %}
        <div class="container-fluid adminDashboard">
            {% include "include_header.html" %}
            <div class="row justify-content-center" id="adminDashboard">
                <div class="col-12 col-sm-10">
                    <h2 class="my-3">Tableau de bord</h2>
                    <div class="mt-5 row overviewAdmin justify-content-center">
                        <div class="col-12">
                            <h3 class="text-left bubbleTitle">Coup d'oeil</h3>
                        </div>
                        <div class="col-12 mb-4 p-3">
                            <div class="row">
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Commentaires</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <p>{{nbComments.count}}</p>
                                        <i class="far fa-comment ml-2"></i>
                                    </div>
                                </div>
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Ont aimé</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <p>
                                        {% set totalCountLikes = 0 %}
                                        {% for billet in billets %}
                                            {% set totalCountLikes = totalCountLikes + billet.likeCount %}
                                        {% endfor %}
                                        {{totalCountLikes}}
                                        </p>
                                        <i class="far fa-heart ml-2"></i>
                                    </div>
                                </div>
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Nombre de vues</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <p>{{totalCountViews}}</p>
                                        <i class="far fa-eye ml-2"></i>
                                    </div>
                                </div>
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Commentaires à modérer</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <p>{{totalCountToValid}}</p>
                                        <i class="fas fa-comment-medical ml-2"></i>
                                    </div>
                                </div>
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Commentaires signalés</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <p>{{totalCountReport}}</p>
                                        <i class="fas fa-comment-slash ml-2"></i>
                                    </div>
                                </div>
                                <div class="bubbleDashboard col-12 col-sm-6 col-md-4 border p-2 text-center">
                                    <h5>Créer un article</h5>
                                    <div class="row justify-content-center align-items-baseline">
                                        <i class="fas fa-plus-square"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row articlesAdmin card mb-4" id="articles">
                        <div class="col-12 card-header">
                            <h3 class="text-left bubbleTitle m-0"><i class="far fa-newspaper"></i> Articles</h3>
                        </div>
                        <div class="col-12 p-3 card-body">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Date de publication</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for billet in billets %}
                                        <tr>
                                            <th scope="row">{{billet.id}}</th>
                                            <td>{{billet.title}}</td>
                                            <td>{{billet.postedAt|date('d-m-Y \à H:i:s')}}</td>
                                            <td><a href="#"><i class="fas fa-pencil-alt"></i></a><button class="bg-transparent border-0"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer px-0">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-4">
                                    <li class="page-item">
                                    {% if pagesBillet != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pageBillet=1#articles">&#60&#60&#60</a><!-- Affiche un chevron '<' -->
                                    {% endif %}
                                    </li>
                                    {% for page in pagesBillet.getPages %}
                                        {% if pagesBillet.getActualPage == page %}
                                            <li class="page-item"><strong class="page-link text-dark">{{page}}</strong></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="/index.php/adminDashboard?pageBillet={{page}}#articles">{{page}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item">
                                    {% if pagesBillet != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pageBillet={{pagesBillet.getLastPage}}#articles">&#62&#62&#62</a><!-- Affiche un chevron '>' -->
                                    {% endif %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row comAdmin card mb-4" id="comments">
                        <div class="col-12 card-header">
                            <h3 class="text-left bubbleTitle"><i class="far fa-comment-alt"></i> Commentaires </h3>
                        </div>
                        <div class="col-12 p-3 card-body">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Pseudo</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Date de publication</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for comment in comments %}
                                        <tr>
                                            <th scope="row">{{comment.id}}</th>
                                            <td>{{comment.author}}</td>
                                            <td>{{comment.content|troncate(180)|nl2br}}</td>
                                            <td>{{comment.postedAt|date('d-m-Y \à H:i:s')}}</td>
                                            <td><a href="#"><i class="fas fa-pencil-alt"></i></a><button class="bg-transparent border-0"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer px-0">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-4">
                                    <li class="page-item">
                                    {% if pagesComment != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pagesComment=1#comments">&#60&#60&#60</a><!-- Affiche un chevron '<' -->
                                    {% endif %}
                                    </li>
                                    {% for page in pagesComment.getPages %}
                                        {% if pagesComment.getActualPage == page %}
                                            <li class="page-item"><strong class="page-link text-dark">{{page}}</strong></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="/index.php/adminDashboard?pagesComment={{page}}#comments">{{page}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item">
                                    {% if pagesComment != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pagesComment={{pagesComment.getLastPage}}#comments">&#62&#62&#62</a><!-- Affiche un chevron '>' -->
                                    {% endif %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row reportedComAdmin card mb-4" id="commentsReport">
                        <div class="col-12 card-header">
                            <h3 class="text-left bubbleTitle"><i class="fas fa-exclamation-triangle"></i> Commentaires signalés</h3>
                        </div>
                        <div class="col-12 p-3 card-body">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Pseudo</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Date de publication</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for commentReport in commentsReport %}
                                        <tr>
                                            <th scope="row">{{commentReport.id}}</th>
                                            <td>{{commentReport.author}}</td>
                                            <td>{{commentReport.content|troncate(180)|nl2br}}</td>
                                            <td>{{commentReport.postedAt|date('d-m-Y \à H:i:s')}}</td>
                                            <td><a href="#"><i class="fas fa-pencil-alt"></i></a><button class="bg-transparent border-0"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer px-0">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-4">
                                    <li class="page-item">
                                    {% if pagesCommentReport != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pagesCommentReport=1#commentsReport">&#60&#60&#60</a><!-- Affiche un chevron '<' -->
                                    {% endif %}
                                    </li>
                                    {% for page in pagesCommentReport.getPages %}
                                        {% if pagesCommentReport.getActualPage == page %}
                                            <li class="page-item"><strong class="page-link text-dark">{{page}}</strong></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="/index.php/adminDashboard?pagesCommentReport={{page}}#commentsReport">{{page}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item">
                                    {% if pagesCommentReport != null %}
                                        <a class="page-link" href="/index.php/adminDashboard?pagesCommentReport={{pagesCommentReport.getLastPage}}#commentsReport">&#62&#62&#62</a><!-- Affiche un chevron '>' -->
                                    {% endif %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% include "include_footer.html" %}
        </div>
{% endblock body %}