{% extends'template.html.twig' %}

{% block head %}
    <!-- Titre -->
    <title>Tableau de bord | Jean Forteroche</title>
    <!-- Media Queries -->
    <link rel="stylesheet" href="/public/css/styleAdminDashboard.css" />
    <!-- Tiny Mce -->
    <script src="https://cdn.tiny.cloud/1/zb7qhx3260q4w81nmqnkvit0h47o5mgauphgyr2v2ta3vozf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: '#postArea',
        });
    </script>
{% endblock head %}

{% block body %}
        <div class="container-fluid adminPost">
            {% include "include_header.html" %}
            <div class="row justify-content-center" id="adminPost">
                <div class="col-12 col-sm-10">
                    <h2 class="my-3">Editeur d'articles</h2>
                    <form method="POST" enctype="multipart/form-data">
<!--
                    <div class="mb-4 row card">
                        <div class="card-header">
                            <h3><i class="far fa-hand-pointer"></i> Selecteur</h3>
                        </div>
                        <div class="card-body">
                            <h4>Selectionnez un article à modifier ou créez un nouveau</h4>
                            <p>Pour selectionner un article utilisez la liste déroulante</p>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect02">
                                  <option selected>Selectionnner un article</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <div class="input-group-append">
                                  <label class="input-group-text" for="inputGroupSelect02">Articles</label>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                    <div class="mb-4 row card">
                        <div class="card-header">
                            <h3><i class="fas fa-heading"></i> Titre</h3>
                        </div>
                        <div class="card-body">
                            <h4>Choisissez un titre pour votre article</h4>
                            <p>Ce titre apparaitra dans l'article et dans la liste d'articles</p>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" name="title" value="{{billet.title}}" placeholder="Entrez un titre ici" aria-label="Username" aria-describedby="addon-wrapping">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="addon-wrapping">Titre</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 row card">
                        <div class="card-header">
                            <h3><i class="far fa-image"></i> Image</h3>
                        </div>
                        <div class="card-body">
                            <h4>Choisissez une image pour votre article</h4>
                            <p>(Taille recommandée 400x600px)</p>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="15728640">
                                    <input type="file" class="custom-file-input" name="imageToUpload" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"><em class="d-none d-md-block">Selectionnez une image</em></label>
                                </div>
                                <div class="input-group-append">
                                  <span class="input-group-text" id="inputGroupFileAddon02">Télécharger</span>
                                </div>
                            </div>
                            <div class="input-group mb-3 flex-nowrap">
                                <input type="text" class="form-control" name="alt" value="{{image.getAlt}}" placeholder="Entrez une description ici" aria-label="Username" aria-describedby="addon-wrapping">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="addon-wrapping">Description</span>
                                </div>
                            </div>
                            {% if billet.imageId == true %}
                                <p>Aperçu :</p>
                                <img src="/public/img/{{image.getName}}"  alt="{{image.getAlt}}" class="img-fluid img-thumbnail" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-4 row card">
                        <div class="card-header">
                            <h3><i class="fas fa-paragraph"></i> Contenu</h3>
                        </div>
                        <div class="card-body">
                            <h4>Ajoutez du contenu à votre article</h4>
                            <p>Utilisez les fonctions de l'éditeur pour mettre en forme le texte</p>
                            <textarea id="postArea" name="content">{{billet.content}}</textarea>
                        </div>
                    </div>
                    <div class="mb-4 row card">
                        <div class="card-header">
                            <h3><i class="fas fa-check"></i> Validation</h3>
                            {% if billet == false %}
                            <p class="text-danger" ><strong>ETAT : Non crée</strong></p>
                            {% elseif billet.getDraft == 1 %}
                            <p class="text-primary" ><strong>ETAT : Brouillon</strong></p>
                            {% else %}
                            <p class="text-success" ><strong>ETAT : Publié</strong></p>
                            {% endif %}
                        </div>
                        <div class="row p-4">
                            <div class="col-sm-12">
                            <h4>Validez votre saisie</h4>
                            <p>Gérer les publications ici</p>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="card cardValid">
                                    <div class="card-body">
                                    {% if billet == false %}
                                        <h4 class="card-title">Sauvegarder</h4>
                                    {% elseif billet.getDraft == 1 %}
                                        <h4 class="card-title">Sauvegarder votre brouillon</h4>
                                    {% else %}
                                        <h4 class="card-title">Transformer en brouillon</h4>
                                    {% endif %}
                                        <p class="card-text">Vous pourrez reprendre le brouillion via le tableau de bord.</p>
                                        {% if billet == true %}
                                        <button type="submit" name="submit" value="draft" class="btn btn-success" formaction="/updateAdminPost/{{billet.getId}}">Transformer en brouillon</button>
                                        {% elseif billet.getDraft == 1 %}
                                        <button type="submit" name="submit" value="draft" class="btn btn-success" formaction="/updateAdminPost/{{billet.getId}}">Sauvegarder le brouillon</button>
                                        {% else %}
                                        <button type="submit" name="submit" value="draft" class="btn btn-success" formaction="/createAdminPost">Enregister en brouillon</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="card cardValid">
                                    <div class="card-body">
                                        <h4 class="card-title">Supprimer</h4>
                                    {% if billet == true and billet.getDraft == 0 %}
                                        <p class="card-text">En cliquant sur le boutton vous supprimez l'article.</p> 
                                        <p class="card-text">Attention pas de retour possible.</p>
                                        <button class="btn btn-danger" name="submit" value="delete" type="submit" formaction="/deleteAdminPost/{{billet.getId}}">Supprimer</button>
                                    {% elseif billet.getDraft == 1 %}
                                        <p class="card-text">En cliquant sur le boutton vous supprimez le brouillon.</p>
                                        <p class="card-text">Attention pas de retour possible.</p>
                                        <button class="btn btn-danger" name="submit" value="delete" type="submit" formaction="/deleteAdminPost/{{billet.getId}}">Supprimer</button>
                                    {% else %}
                                        <p class="card-text">L'article n'est pas encore crée.</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="card cardValid">
                                    <div class="card-body">
                                    {% if billet == false %}
                                        <h4 class="card-title">Publier maintenant</h4>
                                    {% elseif billet.getDraft == 1 %}
                                        <h4 class="card-title">Publier maintenant</h4>
                                    {% else %}
                                        <h4 class="card-title">Modifier</h4>
                                    {% endif %}
                                    {% if billet == false %}
                                        <p class="card-text">Mettez votre article en ligne.</p>
                                        <button class="btn btn-info" name="submit" value="post" type="submit" formaction="/createAdminPost">Publier maintenant</button>
                                    {% elseif billet.getDraft == 1 %}
                                        <p class="card-text">Publie le brouillon maintenant.</p>
                                        <button class="btn btn-info" name="submit" value="post" type="submit" formaction="/updateAdminPost/{{billet.getId}}">Modifier maintenant</button>
                                    {% else %}
                                        <p class="card-text">Modifie l'article.</p>
                                        <button class="btn btn-info" name="submit" value="post" type="submit" formaction="/updateAdminPost/{{billet.getId}}">Modifier maintenant</button>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="card cardValid">
                                    <div class="card-body">
                                        <h4 class="card-title">Publier plus tard</h4>
                                        {% if billet == false %}
                                        <p class="card-text">Mettez votre article en ligne à la date sélectionnée.</p>
                                        <p>
                                            <label for="datePost">Date de publication</label>
                                            <input type="date" id="datePost" name="datePost">
                                            <label for="timePost">Heure de publication</label>
                                            <input type="time" id="timePost" name="timePost">
                                        </p>
                                        <button class="btn btn-info" name="submit" value="postAt" type="submit" formaction="/createAdminPost">Publier plus tard</button>
                                        {% elseif billet.getDraft == 1 %}
                                        <p class="card-text">Mettez votre brouillon en ligne à la date sélectionnée.</p>
                                        <p>
                                            <label for="datePost">Date de publication</label>
                                            <input type="date" id="datePost" name="datePost">
                                            <label for="timePost">Heure de publication</label>
                                            <input type="time" id="timePost" name="timePost">
                                        </p>
                                        <button class="btn btn-info" name="submit" value="postAt" type="submit" formaction="/createAdminPost">Publier plus tard</button>
                                        {% else %}
                                        <p class="card-text">L'article est déja publié, ou le sera à la date prévue.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            {% include "include_footer.html" %}
        </div>
{% endblock body %}