{% extends'template.html.twig' %}

{% block head %}
<!-- Titre -->
<title>Articles | Jean Forteroche</title>
<!-- Media Queries -->
<link rel="stylesheet" href="/public/css/styleBlog.css" />
<link rel="stylesheet" media="(max-width:576.00px)" href="/public/css/styleBlog-xs.css" />
<link rel="stylesheet" media="(min-width:577.00px) and (max-width:768.00px)" href="/public/css/styleBlog-sm.css" />
<link rel="stylesheet" media="(min-width:768.00px) and (max-width:992.00px)" href="/public/css/styleBlog-md.css" />
<!-- reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfynM0UAAAAAMraccr7e9exuZanOtoNp7B42y33"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfynM0UAAAAAMraccr7e9exuZanOtoNp7B42y33', { action: 'contact' }).then(function (token) {
            var recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = token;
        });
    });
</script>
{% endblock head %}
    
{% block body %}
        <div class="container-fluid">
            {% include "include_header.html" %}
            <div id="blogMainSplit" class="row">
                <!-- main section with content -->
                <section id="blogContent" class="col-12 col-lg-9  animated fadeInLeft delay-1s">
                    <!-- new chapter -->
                    <section id="blogLastChapter" class="row ">
                        {% for billet in billetsToShow.getItemsToShow %}
                            {% if loop.first %}
                                <div id="blogLastChapterPhoto" class="col-12 text-center">
                                    <a href="/billet/{{billet.id}}">
                                        <img src="/public/img/{{images[billet.getId].getName}}" alt="{{images[billet.getId].getAlt}}" />
                                    </a>
                                </div>
                                <div id="blogLastChapterSocialNetwork" class="col-12">
                                    <div class="row">
                                        <div id="facebook" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></div>
                                        <div id="instagram" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></div>
                                        <div id="twitter" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></div>
                                        <div id="like" class="circle d-flex justify-content-center align-items-center"><i class="far fa-heart"></i></div>
                                    </div>
                                </div>
                                <div id="blogLastChapterContent" class="col-12">
                                    <div class="row justify-content-center">
                                        <div id="blogLastChapterText" class="col-12 col-sm-10">
                                            <a href="/billet/{{billet.id}}"><h2>{{billet.title}}</h2></a>
                                            <p>{{billet.content|truncate(1200)|raw}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div id="blogLastChapterButton" class="col-10">
                                            <div class="row">
                                                <div class="split col-3 col-md-3 col-lg-4 col-xl-5"></div>
                                                <div class="more col-6 col-md-6 col-lg-3 col-xl-2">
                                                    <a href="/billet/{{billet.id}}"> <button>Lire la suite</button></a>
                                                </div>
                                                <div class="split col-3 col-md-3 col-lg-4 col-xl-5"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="blogLastChapterInformation" class="col-12 flex-column flex-sm-column flex-md-row">
                                        <div>
                                            <i class="fas fa-upload"></i><p>Publié le {{billet.postedAt|date('d-m-Y \à H:i:s')}}</p>
                                        </div>
                                        <div>
                                            <i class="far fa-comment"></i>
                                            <p>
                                                {% if nbComments.count > 1 %}
                                                    {{nbComments.count}} Commentaires 
                                                {% else %}
                                                    {{nbComments.count}} Commentaire
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div>
                                            <i class="far fa-heart"></i><p> {{billet.nbLikes}} J'aime</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                        <!-- old Chapter -->
                        <section id="blogOldChapter" class="row justify-content-center">
                        {% for billet in billetsToShow.getItemsToShow %}
                            {% if not loop.first %}
                                <div class="col-12 col-sm-10">
                                    <div class="row">
                                        <div id="blogPhotoChapter" class="col-12 col-sm-5 text-center">
                                            <a href="/billet/{{billet.id}}">
                                                <img src="/public/img/{{images[billet.getId].getName}}"  alt="{{images[billet.getId].getAlt}}" />
                                            </a>
                                        </div>
                                        <div id="blogContentChapter" class="col-12 col-sm-7">
                                            <div class="context">
                                                <a href="/billet/{{billet.id}}"><h3>{{billet.title}}</h3></a>
                                                <p class="dateChapter">Publié le {{billet.postedAt|date('d-m-Y \à H:i:s')}}</p>
                                                <p class="contentChapter">{{billet.content|truncate(800)|raw}}</p>
                                                <a href="/billet/{{billet.id}}">Lire la suite >>></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </section>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                {% if billetsToShow.getPaginate %}
                                    <a class="page-link" href="/index.php/blog?page=1">&#60&#60&#60</a><!-- Affiche un chevron '<' -->
                                {% endif %}
                                </li>
                                {% for page in billetsToShow.getPages %}
                                    {% if billetsToShow.getActualPage == page %}
                                        <li class="page-item"><strong class="page-link text-dark">{{page}}</strong></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="/index.php/blog?page={{page}}">{{page}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item">
                                {% if billetsToShow.getPaginate %}
                                    <a class="page-link" href="/index.php/blog?page={{billetsToShow.getLastPage}}">&#62&#62&#62</a><!-- Affiche un chevron '>' -->
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </section>
                <!-- aside section from right -->
                <aside id="blogAside" class="col-12 col-lg-3 animated fadeInRight delay-1s">
                    <div class="row">
                        <!-- summary -->
                        <div id="blogAsideSummary" class="col-12">
                            <h4>Sommaire</h4>
                            <div class="row splitRow">
                                <div class="split col-6"></div>
                                <div class="spaceSplit col-6"></div>
                            </div>
                            <ul>
                                {% for billet in billets %}
                                    <li><a href="/billet/{{billet.id}}">{{billet.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- search -->
                        <div id="blogAsideSearch" class="col-12">
                            <h4>Rechercher</h4>
                            <div class="row splitRow">
                                <div class="split col-6"></div>
                                <div class="spaceSplit col-6"></div>
                            </div>
                            <p>Retrouvez facilement votre chapitre</p>
                            <form method="POST" action="search-blog-post">
                                <div class="form-group">
                                    <input id="search_input_blog" type="text" placeholder=" Rechercher" class="form-control" />
                                </div>
                            </form>
                        </div>
                        <!-- newsletter -->
                        <div id="blogAsideNewsletter" class="col-12">
                            <h4>Newsletter</h4>
                            <div class="row splitRow">
                                <div class="split col-6"></div>
                                <div class="spaceSplit col-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p>Inscrivez vous pour être informé de la sortie des derniers chapitres.</p>
                                    <form method="POST">
                                    <div class="form-group">
                                        <label for="prenom_newsletter_blog">Prénom :</label>
                                        <input required type="text" id="prenom__newsletter_blog" name="firstName" placeholder=" Entrez votre prénom" class="form-control" value="{{RELOAD.getMessages.0.full_name}}" />
                                        <label for="nom_newsletter_blog">Nom :</label>
                                        <input required type="text" id="nom_newsletter_blog" name="lastName" placeholder=" Entrez votre nom" class="form-control" value="{{RELOAD.getMessages.0.full_name}}" />
                                        <label for="mail_newsletter_blog">Addresse mail :</label>
                                        <input required type="email" id="mail_newsletter_blog" name="mail" placeholder=" Entrez votre email" class="form-control" value="{{RELOAD.getMessages.0.email}}" />
                                        <p>Les données à caractère personnel que vous nous communiquez feront l'objet d'un traitement automatisé aux fins de gestion de votre demande. Vous disposez d'un droit d'accès, de rectification, de suppression, de limitation et d'opposition conformément à la réglementation sur la protection des données à caractère personnel.</p>
                                        <div id="divRGPD" class="custom-control custom-checkbox">
                                            <input required type="checkbox" id="acceptRGPD" name="acceptRGPD" class="custom-control-input" />
                                            <label for="acceptRGPD" class="custom-control-label">Je reconnais avoir pris connaissance de ces droits.</label>
                                        </div>
                                        <button type="submit" value="S'inscrire" id="register_newsletter_blog" class="btn">S'inscrire</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            {% include "include_footer.html" %}
        </div>
{% endblock body %}
