{% extends'template.html.twig' %}

{% block head %}
<!-- Titre -->
<title>Accueil | Jean Forteroche</title>
{% endblock head %}

{% block body %}
    <div class="container-fluid">
        {% include "include_header.html" %}
        <section class="row pb-4" id="topLeaf">
            <div id="spaceLeaf" class="col-2 d-none d-sm-block"></div>
            <div id="photoLeaf" class="col-12 col-sm-8">
                <div id="frameworkLeaf" class="row">
                    <div id="textLeaf" class="col-12 mt-3 m-sm-3">
                        <h2>"Billet simple pour l'Alaska"</h2>
                        <p>Un roman publié en ligne</p>
                    </div>
                    <div id="inputLeaf" class="col-12 mb-3">
                        <a href="#news"> <button>Derniers chapitres</button></a>
                        <a href="#about"> <button>À Propos</button></a>
                        <a href="#author"> <button>L'auteur</button></a>
                    </div>
                </div>
            </div>
            <div class="spaceLeaf col-2 d-none d-sm-block"></div>
        </section>
        <section class="row" id="insert">
            <div class="col-12">
                <p><i>"J'ai fait le choix de partager ce livre avec vous en m'affranchissant d'un éditeur classique"</i></p>
                <p><i>Partagez mon aventure !</i></p>
                <div class="socialNetwork">
                    <div id="facebook" class="circle d-flex justify-content-center align-items-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div id="instagram" class="circle d-flex justify-content-center align-items-center">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div id="twitter" class="circle d-flex justify-content-center align-items-center">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section  class="row justify-content-center" id="news">
            <div class="col-10">
                <h2>Derniers Chapitres</h2>
                <div class="splitter">
                    <div class="row justify-content-center">
                        <div class="split col-10"></div>
                    </div>
                </div>
            </div>
            <div id="frameworkNews" class="col-12 col-sm-10">
                <div class="row px-2 mt-3">
                    {% for billet in billets %}
                        <div class="chapter col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="row justify-content-center">
                                <div class="photoChapter col-10">
                                    <a href="/billet/{{billet.id}}" class="text-center">
                                        <img src="/public/img/{{images[billet.getId].getName}}" alt="{{images[billet.getId].getAlt}}" />
                                    </a>
                                </div>
                            </div>
                            <div class="context">
                                <a href="/billet/{{billet.id}}"><h3>{{billet.title}}</h3></a>
                                <p class="dateChapter">Publié le {{billet.postedAt|date('d-m-Y \à H:i:s')}}</p>
                                <div class="contentChapter">{{billet.content|truncate(500)|raw}}</div>
                            </div>
                            <div class="more">
                                <a href="/billet/{{billet.id}}"> <button>Lire la suite</button></a>
                            </div>
                            <div class="socialNetworkChapter mx-3 row">
                                <div class="split col-3 d-none d-sm-block"></div>
                                <div class="socialCircles col-10 col-sm-6">
                                    <div class="row">
                                        <div id="facebook" class="circle d-flex justify-content-center align-items-center"><a href="#"><i class="fab fa-facebook-f"></a></i></div>
                                        <div id="instagram" class="circle d-flex justify-content-center align-items-center"><a href="#"><i class="fab fa-instagram"></a></i></div>
                                        <div id="twitter" class="circle d-flex justify-content-center align-items-center"><a href="#"><i class="fab fa-twitter"></i></a></div>
                                    </div>
                                </div>
                                <div class="split col-3 d-none d-sm-block"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="row justify-content-center" id="about">
            <div class="col-10">
                <h2>À propos</h2>
            </div>
            <div class="splitter col-12">
                <div class="row">
                    <div class="spaceSplit col-1"></div>
                    <div class="split col-10"></div>
                    <div class="spaceSplit col-1"></div>
                </div>
            </div>
            <div class="col-10">
                <div id="book" class="inset book row">
                    <div class="title col-12 my-lg-4">
                        <h3>Le livre</h3>
                        <div class="row justify-content-start">
                            <div class="split col-6"></div>
                        </div>
                    </div>
                    <div class="photo col-12 col-sm-12 col-md-5">
                        <img src="/public/img/chapter2.jpg" />
                    </div>
                    <div class="content col-12 col-sm-12 col-md-7">
                        <h3 Class="my-3 m-md-0 mb-md-3">Billet simple pour l'Alaska</h3>
                        <p>Est un roman publié par Jean Forteroche en autopublication sur internet à partir du 21 juillet 2356.</p>
                        <p>Ainsi, il n’y a aucune barrière entre le lecteur et l’auteur, le but étant de laisser libre court au processus créatif.</p>
                        <p>Il est publié sous forme de chapitres individuels que vous pouvez lire à chaque nouvelle publication.</p>
                        <p>C'est l'histoire de ma jeunesse, des hommes et des femmes que j'ai rencontré en vivant l’aventure extraordinaire d’aller résider en Alaska</p>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div id="author" class="inset author row">
                    <div class="title col-12 mb-lg-4">
                        <h3>L'auteur</h3>
                        <div class="row justify-content-end">
                            <div class="split col-6"></div>
                        </div>
                    </div>
                    <div class="content col-12 col-sm-12 col-md-7">
                        <h3 class="mb-1 m-md-0">Jean Forteroche</h3>
                        <p>Je ne me suis révélé écrivaint que tard, et j'ai tout de même eu la chance de vivre de grandes aventures.</p>
                        <p>Ce ne sera pas mon premier roman, mais les précédents "Au pays des Merveilles - 2003" et "Dans la grande tourmante - 1999" ont été publiés de manière classique aux éditions bigflammion.</p>
                        <p>Je suis originaire de Haute Savoie et nés de parents explorateurs.</p>
                    </div>
                    <div class="photo col-12 col-sm-12 col-md-5">
                        <img src="/public/img/jean_forteroche.jpg" />
                    </div>
                </div>
            </div>
        </section>
        {% include "include_footer.html" %}
    </div>
{% endblock body %}