{% extends'template.html.twig' %}

{% block head %}
    <!-- Titre -->
    <title>{{billet.title}}</title>
{% endblock head %}

{% block body %}
    <body id="bodyBillet">
        <div class="container-fluid">

            {% include "include_header.html" %}

            <div id="billet" class="row justify-content-center my-5">
                <div class="col-12 col-sm-10 col-md-8 text-center">
                    <div class="row justify-content-center mb-5">
                        <img src="{{billet.imageUrl}}" alt='{{billet.altImage}}' />
                    </div>
                    <h2>{{billet.title}}</h2>
                    <p><span class="billetCapitalize">{{billet.content|onlyFirstLetter}}</span>{{billet.content|deleteFirstLetter}}</p>
                </div>
            </div>
            <div class="socialNetworkBillet row py-4">
                <div class="socialCircles col-12">
                    <div class="row justify-content-center">
                        <div id="facebook" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></div>
                        <div id="instagram" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></div>
                        <div id="twitter" class="circle d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></div>
                        <div id="like" class="circle d-flex justify-content-center align-items-center"><i class="far fa-heart"></i></div>
                    </div>
                </div>
            </div>
            <div id="splitBillet" class="row">
                <div class="spaceSplit col-1"></div>
                <div class="split col-10"></div>
                <div class="spaceSplit col-1"></div>
            </div>
            <div id="newComBillet" class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 shadow-lg">
                    <h3 class="pt-3">Faites moi part de votre avis</h3>
                    <form method="POST" action="billet_post.php" class="row">
                        <div class="form-group col-12 d-flex flex-column pb-3">
                            <div class="row w-50">
                                <div class="col-12 d-flex flex-column">
                                    <label class="pb-0 mt-0" for="billetComPseudo">Pseudo :</label>
                                    <input type="text" id="billetComPseudo" name="billetComPseudo" placeholder=" Votre pseudo" class="form-control rounded-sm border-0" />
                                </div>
                            </div>
                            <label for="billetComMsg">Message :</label>
                            <textarea id="billetComMsg" name="billetComMsg" class="form-control rounded-sm border-0" cols="30" rows="6" placeholder=" Ecrivez votre commentaire"></textarea>
                            <div class="w-50 my-2">
                                <button type="submit" value="Envoyer" class="btn rounded-sm border-0">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-1">
                <div class="col-12 col-sm-10 col-md-8">
                    <p class="mb-0"><i class="far fa-comment"></i> 2 Commentaires</p>
                </div>
            </div>
            <div id="comBillet" class="row justify-content-center mb-5">
                    <div class="col-12 col-sm-10 col-md-8 shadow-lg py-4">
                        {% for comment in comments %}
                            <div class="mb-4 border p-1 rounded-sm">
                                <h4 class="m-0 pb-1">{{comment.author}}</h4>
                                <p class="">{{comment.content}}</p>
                                <p class="dateCom m-0">{{comment.postedAt|date('d-m-Y \à H:i:s')}}</p>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            
            {% include "include_footer.html" %}
        </div>

    </body>
{% endblock body %}